on:
  workflow_call:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

jobs:
  build-artifacts:
    runs-on: ${{ matrix.systems.runner }}
    permissions:
      id-token: write
      contents: read
    strategy:
      matrix:
        systems:
          - nix-system: aarch64-darwin
            runner: macos-latest-xlarge
            artifact: flake-iter-ARM64-macOS
          - nix-system: aarch64-linux
            runner: namespace-profile-default-arm64
            artifact: flake-iter-ARM64-Linux
          - nix-system: x86_64-linux
            runner: ubuntu-24.04
            artifact: flake-iter-X64-Linux
    steps:
      - name: git checkout
        uses: actions/checkout@v6

      - name: Install Determinate Nix
        uses: DeterminateSystems/determinate-nix-action@main

      - name: Set up FlakeHub Cache
        uses: DeterminateSystems/flakehub-cache-action@main

      - name: Build package for ${{ matrix.systems.nix-system }}
        run: |
          nix build -L

      - name: Prepare ${{ matrix.systems.nix-system }} artifact
        run: |
          mkdir -p artifacts
          cp result/bin/flake-iter artifacts/${{ matrix.systems.artifact }}

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: flake-iter-${{ matrix.systems.nix-system }}
          path: artifacts/${{ matrix.systems.artifact }}
          if-no-files-found: error
          overwrite: true
          retention-days: 1

  upload-artifacts-to-s3:
    needs: build-artifacts
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Download artifacts directory
        uses: actions/download-artifact@v7
        with:
          pattern: flake-iter-*
          path: ./artifacts
          merge-multiple: true

      - name: Upload to S3
        uses: DeterminateSystems/push-artifact-ids@main
        with:
          s3_upload_role: ${{ secrets.AWS_S3_UPLOAD_ROLE }}
          bucket: ${{ secrets.AWS_S3_UPLOAD_BUCKET }}
          directory: ./artifacts
          ids_project_name: flake-iter
          ids_binary_prefix: flake-iter
