name: Rust checks

on:
  pull_request:
  push:
    branches: [main]

jobs:
  rust-fmt-and-clippy:
    runs-on: UbuntuLatest32Cores128G
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v5

      - uses: DeterminateSystems/determinate-nix-action@main
      - uses: DeterminateSystems/flakehub-cache-action@main

      - name: Rust formatting
        run: nix develop --command cargo fmt --check

      - name: Clippy
        run: nix develop --command cargo clippy --all-targets --all-features --  -Dwarnings

      - name: Unused dependencies
        run: |
          nix develop --command cargo machete

      - name: Build and cache everything (verbose)
        run: |
          nix develop --command cargo run -- build --verbose

      - name: Build and cache everything (not verbose)
        run: |
          nix develop --command cargo run -- build
